.error {
	color: red;
}

#myForm {
	border: 1px solid transparent;
	padding: 10px;
}

#myForm.ng-dirty.ng-invalid {
	border: 1px solid red;
}

#myForm.ng-dirty.ng-valid {
	border: 1px solid green;
}

.form-control.ng-dirty.ng-invalid {
	border-color: red;
	box-shadow: inset 0 1px 1px red;
}

.form-control.ng-dirty.ng-valid {
	border-color: green;
	box-shadow: inset 0 1px 1px green;
}